* {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
}

body {
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #00afb9;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 30%;
}

.travel-tracker-title {
  font-weight: 800;
  font-size:xx-large
}

.trip-container {
  border: solid 1px black;
}

.vacation-pictures {
  height: 300px;
  width: 400px;
}

.traveler-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.total-cost {
display: flex;
justify-content: center;
font-size: x-large;
}

.traveler-trips-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}