/* * {
  border: solid red 2px;
} */

body {
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #00afb9;
}

.trip-container {
  border: solid 1px black;
}

.vacation-pictures {
  height: 300px;
  width: 400px;
}